<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Combining numbers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<form action="#" th:action="@{/combining}" th:object="${UserChoice}" method="post">
    <p>Wybierz źródła z których chcesz zsumować dwie liczby</p>
    <p>
        <select th:field="*{source1}">
            <option th:value="'database'" th:text="'Baza danych'"></option>
            <option th:value="'randomorg'" th:text="Random.org"></option>
            <option th:value="'javarandom'" th:text="'Java Random'"></option>
        </select>
    </p>
    <p>
        <select th:field="*{source2}">
            <option th:value="'database'" th:text="'Baza danych'"></option>
            <option th:value="'randomorg'" th:text="'Random.org'"></option>
            <option th:value="'javarandom'" th:text="'Java Random'"></option>
        </select>
    </p>
    <p>
        <button type="submit">Sumuj</button>
    </p>
</form>
</body>

</html>