<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Wynik</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>
<a>Suma liczb </a>
<a th:text="${result.argument1}"/>
<a>oraz</a>
<a th:text="${result.argument2}"/>
<a>wynosi </a>
<a th:text="${result.result}"/>
</body>

</html>